.userPopout-xaxa6l[style*="--user-background"] .profileBanner-33-uE1,
.userPopout-3XzG_A[style*="--user-background"] .profileBanner-33-uE1 {
	height: 120px;
	background: var(--user-background) var(--user-popout-position, center) center / cover;
}
.userPopout-xaxa6l[style*="--user-background"] .avatarPositionNormal-aZjAsn,
.userPopout-3XzG_A[style*="--user-background"] .avatarPositionNormal-1CZUPk {
	top: 76px;
}
