.userPopout-3XzG_A[style*="--user-background"] .profileBanner-j34RzR {
	height: 120px;
	background: var(--user-background) center / cover;
}
.userPopout-3XzG_A[style*="--user-background"] .avatarPositionNormal-1CZUPk {
	top: 76px;
}
