.root-SR8cQa {transform: translateZ(0)}
#app-mount .header-QKLPzZ .wrapper-3t9DeA::before {
	content: '' !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .5;
	pointer-events: none;
	background: var(--user-background) center/cover no-repeat;
}
.root-SR8cQa .headerInfo-30uryT,
.root-SR8cQa .tabBarItem-1b8RUP,
.root-SR8cQa .activity-1ythUs {
	z-index: 1;
	position: relative;
}
