.root-8LYsGj[style*="--user-background"] .banner-1YaD3N {
	height: 240px;
	background-color: var(--background-floating)!important;
	background: var(--user-background) var(--user-popout-position, center) center/cover
}
