.userPopout-2j1gM4[style*="--user-background"] .banner-1YaD3N {
	height: 120px;
	background-color: var(--background-floating)!important;
	background: var(--user-background) var(--user-popout-position, center) center/cover
}
.userPopout-2j1gM4[style*="--user-background"] .avatarPositionNormal-2jWoC2 {
	top: 76px
}
