/*Sets default user popout position to center.*/

.userPopout-3XzG_A {
	--user-popout-position: center;
}

/* Dyno#3861 & Dyno#8506 */

[user_by_bdfdb="155149108183695360"]:not(img),
[data-user-id="155149108183695360"]:not(img),
[user_by_bdfdb="470722416427925514"]:not(img),
[data-user-id="470722416427925514"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/banners/203039963636301824/22a247f1fb95c2459af464d9e2d6553a.jpg?size=4096');
}

/* Mee6#4876 */

[user_by_bdfdb="159985870458322944"]:not(img),
[data-user-id="159985870458322944"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/banners/159962941502783488/030a7cb8fdb83b483536f20e1b9d962e.jpg?size=4096');
}

/* Dank Memer#5192 */

[user_by_bdfdb="270904126974590976"]:not(img),
[data-user-id="270904126974590976"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/avatars/270904126974590976/d60c6bd5971f06776ba96497117f7f58.png?size=4096');
}

/* Koya#1050 */

[user_by_bdfdb="276060004262477825"]:not(img),
[data-user-id="276060004262477825"]:not(img) {
	--user-popout-position: right !important;
	--user-background: url('https://cdn.discordapp.com/splashes/265574509749207043/e47f04308ea0dfcce4079812d41e6ce3.jpg?size=4096');
}

/* Carl-bot#1536 */

[user_by_bdfdb="235148962103951360"]:not(img),
[data-user-id="235148962103951360"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/splashes/186980582863929345/d4b272d11e897df66f7abe9401912d5d.jpg?size=4096');
}

/* YAGPDB.xyz#8760 */

[user_by_bdfdb="204255221017214977"]:not(img),
[data-user-id="204255221017214977"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/banners/166207328570441728/d5ddd9d3849c46ab6993f61f52f34a76.jpg?size=4096');
}

/* Groovy#7254 */

[user_by_bdfdb="234395307759108106"]:not(img),
[data-user-id="234395307759108106"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/banners/267719227815886850/d3f1843fa670bf63caf1b4d34078cc19.jpg?size=4096');
}

/* Groovy 2#5345 */

[user_by_bdfdb="368424172730187786"]:not(img),
[data-user-id="368424172730187786"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/avatars/368424172730187786/b1759cb68e85852d45f58d2dbb366642.png?size=4096');
}

/* Groovy 3#3588 */

[user_by_bdfdb="287378523843198976"]:not(img),
[data-user-id="287378523843198976"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/avatars/287378523843198976/988e06cbec57cdcaf2b78a4542d02458.png?size=4096');
}

/* Rythm#3722 */

[user_by_bdfdb="235088799074484224"]:not(img),
[data-user-id="235088799074484224"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/banners/231471142685245440/79d047ded14a035e69c13a89d135a213.jpg?size=4096');
}

/* Rythm 2#2000 */

[user_by_bdfdb="252128902418268161"]:not(img),
[data-user-id="252128902418268161"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/avatars/252128902418268161/689701e12b3a452f2307db5ec83005b1.png?size=4096');
}

/* Rythm 3#0817 */

[user_by_bdfdb="814675737331105832"]:not(img),
[data-user-id="814675737331105832"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/avatars/814675737331105832/c83d1aa385a7f3e5b36e73da590a1ca3.png?size=4096');
}

/* Rythm 4#0952 */

[user_by_bdfdb="814675803065155585"]:not(img),
[data-user-id="814675803065155585"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/avatars/814675803065155585/60560bbeb7fcfeb63699d99bc673118c.png?size=4096');
}

/* Rythm 5#6171 */

[user_by_bdfdb="814675864859836417"]:not(img),
[data-user-id="814675864859836417"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/avatars/814675864859836417/16e18e77d646693255040c79b6075fc6.png?size=4096');
}

/* Tatsu#8792 */

[user_by_bdfdb="172002275412279296"]:not(img),
[data-user-id="172002275412279296"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/splashes/173184118492889089/571d1e7892c7ca4488f2dbf8e053853d.jpg?size=4096');
}

/* ProBot ✨#5803 */

[user_by_bdfdb="282859044593598464"]:not(img),
[data-user-id="282859044593598464"]:not(img) {
	--user-popout-position: right !important;
	--user-background: url('https://cdn.discordapp.com/splashes/224308865427046402/45d4863b3dec0f33e7af9674623d9b0e.jpg?size=4096');
}

/* Zira#9472 */

[user_by_bdfdb="275813801792634880"]:not(img),
[data-user-id="275813801792634880"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/splashes/532372609476591626/3fe80b4683cfaee7ffc3d71825a51d5e.jpg?size=4096');
}

/* BetterDiscord#7403 */

[user_by_bdfdb="676620914632294467"]:not(img),
[data-user-id="676620914632294467"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/icons/86004744966914048/babd1af3fa6011a50e418a80f4970ceb.webp?size=4096');
}

/* WhiteCube#3124 */

[user_by_bdfdb="756465461188624444"]:not(img),
[data-user-id="756465461188624444"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/avatars/756465461188624444/97757b4b45cfc097b88f70bb4e564822.png?size=4096');
}

/* UnbelievaBoat#1046 & UnbelievaBoat Premium#3539 */

[user_by_bdfdb="292953664492929025"]:not(img),
[data-user-id="292953664492929025"]:not(img),
[user_by_bdfdb="356950275044671499"]:not(img),
[data-user-id="356950275044671499"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/banners/305129477627969547/a8577a539b0b6f7f93e238126d5a9cc3.jpg?size=4096');
}

/* GiveawayBot#2381 */

[user_by_bdfdb="294882584201003009"]:not(img),
[data-user-id="294882584201003009"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/avatars/294882584201003009/4bfd18c35f26a86f2b5b4eb2ad81a1f7.png?size=4096');
}

/* NQN#3454 */

[user_by_bdfdb="559426966151757824"]:not(img),
[data-user-id="559426966151757824"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/splashes/559426764531695665/e73f74315276b4218f3e433985cec8e3.jpg?size=4096');
}

/* MonitoRSS#3921 */

[user_by_bdfdb="268478587651358721"]:not(img),
[data-user-id="268478587651358721"]:not(img) {
	--user-background: url('https://discord.com/assets/51cd8436fb99a6f12257db34780fb7a7.svg');
}

/* Ticket Tool#4843 */

[user_by_bdfdb="557628352828014614"]:not(img),
[data-user-id="557628352828014614"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/avatars/557628352828014614/04cdd55608f6f9942c9ab3bbcab3932c.png?size=4096');
}

/* Ticket Tool#6207 */

[user_by_bdfdb="722196398635745312"]:not(img),
[data-user-id="722196398635745312"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/avatars/722196398635745312/b0cf1e5a9b0c5501989b7a591845ad56.png?size=4096');
}

/* Mudae#0807 */

[user_by_bdfdb="432610292342587392"]:not(img),
[data-user-id="432610292342587392"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/splashes/435763044120002561/cb71b84c957490c4b0f7810190e953de.jpg?size=4096');
}

/* ZeroTwo#3859 */

[user_by_bdfdb="469610550159212554"]:not(img),
[data-user-id="469610550159212554"]:not(img) {
	--user-popout-position: right !important;
	--user-background: url('https://cdn.discordapp.com/splashes/473532289876492295/c6706e22eafa37fab5c7e056701813ce.jpg?size=4096');
}

/* OwO#8456 */

[user_by_bdfdb="408785106942164992"]:not(img),
[data-user-id="408785106942164992"]:not(img) {
	--user-background: url('https://cdn.discordapp.com/splashes/420104212895105044/512173a02ccb1c22c3b0086e63021528.jpg?size=4096');
}
