/* Dyno#3861 */

[data-user-id="155149108183695360"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/banners/203039963636301824/22a247f1fb95c2459af464d9e2d6553a.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="155149108183695360"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Mee6#4876 */

[data-user-id="159985870458322944"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/banners/159962941502783488/030a7cb8fdb83b483536f20e1b9d962e.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="159985870458322944"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Dank Memer#5192 */

[data-user-id="270904126974590976"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/banners/470337009886429194/bfd8865854a3a742c1b8a837b10067f5.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="270904126974590976"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Koya#1050 */

[data-user-id="276060004262477825"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/splashes/265574509749207043/e47f04308ea0dfcce4079812d41e6ce3.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="276060004262477825"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Carl-bot#1536 */

[data-user-id="235148962103951360"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/splashes/186980582863929345/d4b272d11e897df66f7abe9401912d5d.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="235148962103951360"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* YAGPDB.xyz#8760 */

[data-user-id="204255221017214977"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/banners/166207328570441728/d5ddd9d3849c46ab6993f61f52f34a76.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="204255221017214977"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Groovy#7254 */

[data-user-id="234395307759108106"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/banners/267719227815886850/d3f1843fa670bf63caf1b4d34078cc19.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="234395307759108106"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Groovy 2#5345 */

[data-user-id="368424172730187786"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/avatars/368424172730187786/b1759cb68e85852d45f58d2dbb366642.png?size=4096') center / cover;
	height: 120px;
}
[data-user-id="368424172730187786"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Groovy 3#3588 */

[data-user-id="287378523843198976"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/avatars/287378523843198976/988e06cbec57cdcaf2b78a4542d02458.png?size=4096') center / cover;
	height: 120px;
}
[data-user-id="287378523843198976"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Rythm#3722 */

[data-user-id="235088799074484224"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/banners/231471142685245440/79d047ded14a035e69c13a89d135a213.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="235088799074484224"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Rythm 2#2000 */

[data-user-id="252128902418268161"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/avatars/252128902418268161/689701e12b3a452f2307db5ec83005b1.png?size=4096') center / cover;
	height: 120px;
}
[data-user-id="252128902418268161"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Rythm 3#0817 */

[data-user-id="814675737331105832"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/avatars/814675737331105832/c83d1aa385a7f3e5b36e73da590a1ca3.png?size=4096') center / cover;
	height: 120px;
}
[data-user-id="814675737331105832"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Rythm 4#0952 */

[data-user-id="814675803065155585"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/avatars/814675803065155585/60560bbeb7fcfeb63699d99bc673118c.png?size=4096') center / cover;
	height: 120px;
}
[data-user-id="814675803065155585"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Rythm 5#6171 */

[data-user-id="814675864859836417"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/avatars/814675864859836417/16e18e77d646693255040c79b6075fc6.png?size=4096') center / cover;
	height: 120px;
}
[data-user-id="814675864859836417"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Tatsu#8792 */

[data-user-id="172002275412279296"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/splashes/173184118492889089/571d1e7892c7ca4488f2dbf8e053853d.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="172002275412279296"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* ProBot ✨#5803 */

[data-user-id="282859044593598464"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/splashes/224308865427046402/45d4863b3dec0f33e7af9674623d9b0e.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="282859044593598464"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Zira#9472 */

[data-user-id="275813801792634880"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/splashes/532372609476591626/3fe80b4683cfaee7ffc3d71825a51d5e.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="275813801792634880"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* BetterDiscord#7403 */

[data-user-id="676620914632294467"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/icons/86004744966914048/babd1af3fa6011a50e418a80f4970ceb.webp?size=4096') center / cover;
	height: 120px;
}
[data-user-id="676620914632294467"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* WhiteCube#3124 */

[data-user-id="756465461188624444"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/avatars/756465461188624444/97757b4b45cfc097b88f70bb4e564822.png?size=4096') center / cover;
	height: 120px;
}
[data-user-id="756465461188624444"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* UnbelievaBoat#1046 & UnbelievaBoat Premium#3539 */

[data-user-id="292953664492929025"] .profileBanner-33-uE1,
[data-user-id="356950275044671499"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/banners/305129477627969547/a8577a539b0b6f7f93e238126d5a9cc3.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="292953664492929025"] .avatarPositionNormal-1CZUPk,
[data-user-id="356950275044671499"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* GiveawayBot#2381 */

[data-user-id="294882584201003009"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/avatars/294882584201003009/4bfd18c35f26a86f2b5b4eb2ad81a1f7.png?size=4096') center / cover;
	height: 120px;
}
[data-user-id="294882584201003009"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* NQN#3454 */

[data-user-id="559426966151757824"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/splashes/559426764531695665/e73f74315276b4218f3e433985cec8e3.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="559426966151757824"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* MonitoRSS#3921 */

[data-user-id="268478587651358721"] .profileBanner-33-uE1 {
	background: url('https://discord.com/assets/51cd8436fb99a6f12257db34780fb7a7.svg') center / cover;
	height: 120px;
}
[data-user-id="268478587651358721"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Ticket Tool#4843 */

[data-user-id="557628352828014614"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/avatars/557628352828014614/04cdd55608f6f9942c9ab3bbcab3932c.png?size=4096') center / cover;
	height: 120px;
}
[data-user-id="557628352828014614"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Ticket Tool#6207 */

[data-user-id="722196398635745312"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/avatars/722196398635745312/b0cf1e5a9b0c5501989b7a591845ad56.png?size=4096') center / cover;
	height: 120px;
}
[data-user-id="722196398635745312"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Mudae#0807 */

[data-user-id="432610292342587392"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/splashes/435763044120002561/cb71b84c957490c4b0f7810190e953de.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="432610292342587392"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* ZeroTwo#3859 */

[data-user-id="469610550159212554"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/splashes/473532289876492295/c6706e22eafa37fab5c7e056701813ce.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="469610550159212554"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* OwO#8456 */

[data-user-id="408785106942164992"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/splashes/420104212895105044/512173a02ccb1c22c3b0086e63021528.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="408785106942164992"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Karuta#1280 */

[data-user-id="646937666251915264"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/banners/648031568756998155/1d9ec406e4cd0a5eb41995576b9923c9.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="646937666251915264"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Pokétwo#8236 */

[data-user-id="716390085896962058"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/splashes/716390832034414685/2cba7bbb1a2bcaeabe4bebb709e60e17.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="716390085896962058"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* PokéMeow#6691 */

[data-user-id="664508672713424926"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/splashes/664509279251726363/a9e2e2ad221d8133bb31935f5ca682ad.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="664508672713424926"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Nekotina#0608 */

[data-user-id="429457053791158281"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/splashes/659090161237229579/20bdf3225ea225b4f5543274d3b08118.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="429457053791158281"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Wick#3938 */

[data-user-id="536991182035746816"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/splashes/536277067310956565/48912b8def2181e4251d5b3db9c71e97.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="536991182035746816"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* AltDentifier#5594 */

[data-user-id="372022813839851520"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/banners/372024042980638721/89ca4dfd5cd0434909175956b77e1658.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="372022813839851520"] .avatarPositionNormal-1CZUPk {
	top: 76px
}

/* Nadeko#6685 */

[data-user-id="116275390695079945"] .profileBanner-33-uE1 {
	background: url('https://cdn.discordapp.com/splashes/117523346618318850/a6b60290d7309584e38295ffaeaefc4b.jpg?size=4096') center / cover;
	height: 120px;
}
[data-user-id="116275390695079945"] .avatarPositionNormal-1CZUPk {
	top: 76px
}
