/* User settings */
.layer-3QrUeG[aria-label="RTC_DEBUG"],
.layer-3QrUeG[aria-label*="SETTINGS"] {
	width: 65%;
	min-width: 800px;
	height: 100%;
	display: block;
	margin: auto auto;
	border-radius: 0 0 1em 1em;
	margin-bottom: 10%;
	top: 0px;
	position: relative;
}
.layers-3iHuyZ .layer-3QrUeG:first-of-type[style*="scale(0"], .baseLayer-35bLyl {transform: none !important}
.layers-3iHuyZ .layer-3QrUeG:first-of-type[aria-hidden="true"] {
	transform: none !important;
	opacity: 1 !important;
	filter: brightness(0.3);
	pointer-events: none !important;
	transition: 100ms;
}
.standardSidebarView-3F1I7i {top: 0px !important}
.sidebar-CFHs9e {padding: 30px 6px 30px 20px}
.contentColumn-2hrIYH {padding: 30px 40px 30px !important}

/* Closes the settings when clicking outside of them */
.tools-3-3s-N .closeButton-1tv5uR::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vw;
	z-index: -1;
	cursor: default;
}
.tools-3-3s-N .closeButton-1tv5uR {
	transform: none;
	background: transparent;
	z-index: -1;
	border: none;
}
#app-mount .tools-3-3s-N .closeButton-1tv5uR:hover {background: none}
.tools-3-3s-N .closeButton-1tv5uR svg {display: none}
.contentRegion-3nDuYy .tools-3-3s-N {position: relative}
.contentRegion-3nDuYy .toolsContainer-1edPuj {position: absolute}
.contentRegion-3nDuYy .tools-3-3s-N .keybind-KpFkfr {display: none}
