/* Default Variables */
:root {
	--chat-transparency:0.8;
	--sides-transparency:0.9;
	--sides-blur:5px;
}
.theme-dark {
	--color-primary:54,57,63;
	--color-secondary:47,49,54;
	--color-secondary-alt:41,43,47;
	--color-tertiary:32,34,37;
}
.theme-light {
	--color-primary:255,255,255;
	--color-secondary:242,243,245;
	--color-secondary-alt:235,237,239;
	--color-tertiary:227,229,232;
}

/* General */
body, .app-2CXKsg, .bg-1QIAus {background:transparent}
#app-mount {background:var(--background) center/cover no-repeat}
#app-mount>.app-3xd6d0>:not(.app-2CXKsg) {background:rgba(var(--color-primary),var(--chat-transparency))!important;backdrop-filter:blur(var(--sides-blur))}
:focus {outline:none}
.enterDone-menWZ8>.verification-2oQUwN {background:rgba(var(--color-primary),var(--chat-transparency));backdrop-filter:blur(var(--sides-blur))}
#app-mount>.errorPage-2pZ2Kq {background-color:rgba(var(--color-secondary),var(--chat-transparency));backdrop-filter:blur(var(--sides-blur))}
.artwork-L5TAwQ {display:none}

/* Top bar */
.withFrame-2dL45i {padding-top:4px;margin-top:0;background:rgba(var(--color-tertiary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}

/* Server list */
.wrapper-1_HaEi {background:transparent}
.scroller-3X7KbA {background:rgba(var(--color-tertiary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}

/* Channels and friends */
#app-mount .sidebar-1tnWFu, .notice-1x8lm- {border-radius:0}
.sidebar-1tnWFu {background:transparent}
.sidebar-1tnWFu {backdrop-filter:blur(var(--sides-blur))}
.container-1NXEtd {background:rgba(var(--color-secondary),var(--sides-transparency))}

.scroller-WSmht3 {background:transparent}
.privateChannels-oVe7HL {background:rgba(var(--color-secondary),var(--sides-transparency))}

/* Nitro tab */
.applicationStore-2nk7Lo {background:transparent}
.scroller-29cQFV {background:rgba(var(--color-primary),var(--chat-transparency))}

/* Discovery */
.sidebar-1tnWFu>.scrollerBase-_bVAAt {background:rgba(var(--color-secondary),var(--sides-transparency))}
#app-mount .pageWrapper-2PwDoS, #app-mount .scroller-RfJjkV {background:rgba(var(--color-primary),var(--chat-transparency))}

/* Member list (chat, threads, groups, NSFW Warning, forums) */
.members-3WRCEx, .members-3WRCEx>div, .membersWrap-3NUR2t, .tabs-1RhQha, .container-NkLXgf, .container-2o3qEW, .member-2gU6Ar {background:transparent}
.chatContent-3KubbW + div, .scroller-3KyaqJ + div, .container-3wLKDe + .container-2o3qEW {background:rgba(var(--color-secondary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}

/* User panel */
.panels-3wFtMD {background:rgba(var(--color-secondary-alt),var(--sides-transparency))}

/* Chat */
.chat-2ZfjoI, .container-3XgAHv, #app-mount .container-1um7CU {background:transparent} /* Chat, threads chat and browse channels (beta) */
.chatContent-3KubbW, .chat-1rZYgu, #app-mount .container-3wLKDe, #app-mount .container-2IKOsH {background:rgba(var(--color-primary),var(--chat-transparency))} /* Chat, threads chat, forums and browse channels (beta) */
#app-mount .form-3gdLxP:before {display:none} /* Small thing left to text input */
.wrapper-3HVHpV, .wrapper-15CKyy {background:transparent} /* Messages not loading */
.content-3spvdd {background:transparent;backdrop-filter:blur(5px)} /* New day divider */

/* Threads */
.chat-2ZfjoI.threadSidebarOpen-1LSXvU {border-radius:0}
.container-3XgAHv {margin-left:0;border-radius:0}
.resizeHandle-PBRzPC {background:rgba(var(--color-tertiary),var(--chat-transparency))}

/* Message input */
.channelTextArea-1VQBuV {background:transparent;backdrop-filter:blur(var(--sides-blur))}
.theme-dark .chatContent-3KubbW .scrollableContainer-15eg7h {background:rgba(64,68,75,var(--chat-transparency))}
.theme-light .chatContent-3KubbW .scrollableContainer-15eg7h {background:rgba(235,237,239,var(--chat-transparency))}
.chatContent-3KubbW .container-A2jo65 {background:rgba(var(--color-secondary),var(--chat-transparency));backdrop-filter:blur(var(--sides-blur))}

.scrollerSpacer-3AqkT9 {height:22px} /* Chat spacer (bottom) */
.scrollerSpacer-3AqkT9.empty-26e_55 {height:8px} /* Chat spacer (bottom) */
.form-3gdLxP {margin-top:0} /* Text input */
.jumpToPresentBar-1cEnH0, .messagesErrorBar-1IQ1rH {bottom:-8px} /* Jump to present and Messages failed to load */

.spamBanner-1auiob {position:relative} /* Message input when timed out */

/* Embeds and invites */
.invite-3uuHYQ {backdrop-filter:blur(var(--sides-blur))}
.wrapper-1HIH0j, .embedFull-1HGV2S {background:rgba(var(--color-secondary),var(--chat-transparency));backdrop-filter:blur(var(--sides-blur))}

/* Reactions */
.reaction-2A2y9y {background:rgba(var(--color-secondary),var(--chat-transparency));backdrop-filter:blur(var(--sides-blur))}
.reaction-2A2y9y:hover, .container-3YcgdM {background:rgba(var(--color-primary),var(--chat-transparency))} /* Hovered reactions and forums reactions */

/* NSFW Warning */
.scroller-3KyaqJ {background:rgba(var(--color-primary),var(--chat-transparency))}

/* non-existent channel */
.noChannel-1GDIAZ {background:rgba(var(--color-tertiary),var(--chat-transparency))}

/* Server: Server Boost */
.wrapper-1w686E {background:rgba(var(--color-primary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}
.theme-dark .navigationBar-3r0IQK {background-color:rgba(var(--color-tertiary),var(--sides-transparency))}

/* Server: Home */
#app-mount .background-fkKrXt {background:transparent}
.theme-dark .homeContainer-r4Hvv1 {background:rgba(44,46,51,var(--chat-transparency))}
.theme-light .homeContainer-r4Hvv1 {background:rgba(247,248,249,var(--chat-transparency))}
.card-3x20HF, .container-2Hi7Km, .container-xwOzwi {background:rgba(var(--color-primary),var(--chat-transparency));backdrop-filter:blur(var(--sides-blur))}

/* Tool bar */
#app-mount .container-ZMc96U.themed-Hp1KC_ {background:rgba(var(--color-primary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}
#app-mount .children-3xh0VB:after {display:none}

/* Calls */
#app-mount .wrapper-1gVUIN {background:transparent} /* DMs */
.callContainer-HtHELf {background:transparent} /* Server VC */
.wrapper-1gVUIN.chatSidebarOpen--YCxhs .callContainer-HtHELf {border-radius:0} /* Server VC with chat open */

/* Stage channels */
.container-cH6QoY, .callContainer-BGIngG, .scroller-35tvpe,
.container-3r7mfc, .rowContainer-jDvyA4, .participants-3hk3ND, .tileContainer-Os085F,
.container-lqPArA {background:transparent}
.headerContainer-21E-jZ {background:rgba(var(--color-primary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))} /* Requests */
.container-lqPArA>.contentContainer-dKJ2Bn {background:rgba(var(--color-primary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))} /* Requests */
.sidebarVisible-3bgZKv {border-radius:0}
.container-lqPArA {margin-left:0}
.scroller-35tvpe::-webkit-scrollbar-track {display:none}
.scroller-35tvpe::-webkit-scrollbar-thumb {background:var(--background-floating)}
.root-22AK9z {background:rgba(24,25,28,var(--chat-transparency));backdrop-filter:blur(var(--sides-blur))}

/* Friends online */
#app-mount .container-2cd8Mz, .nowPlayingColumn-1eCBCN {background:transparent}
.peopleColumn-1wMU14 {background:rgba(var(--color-primary),var(--chat-transparency))}
.container-1oAagU {background:rgba(var(--color-primary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}

/* Library */
.header-2EadGG {background:transparent}
.scroller-2XLwLg, .scroller-1TOeMq, .scroller-s-wehS {background:rgba(var(--color-primary),var(--chat-transparency))}

/* Settings */
.layer-86YKbF, .standardSidebarView-E9Pc3j, .contentRegionScroller-2_GT_N {background:transparent}
.sidebarRegionScroller-FXiQOh {background:rgba(var(--color-secondary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}
.contentRegion-3HkfJJ {background:rgba(var(--color-primary),var(--chat-transparency))}

/* Channel perms */
.titleContainer-3fPic2::before, .stickyHeader-1Sunlx::before, .header-JUTO-g::before {background:var(--background) center/cover fixed}
.titleContainer-3fPic2::after, .stickyHeader-1Sunlx::after, .header-JUTO-g::after {background:rgba(var(--color-primary),var(--chat-transparency))}
.titleContainer-3fPic2::after, .titleContainer-3fPic2::before, .stickyHeader-1Sunlx::after, .stickyHeader-1Sunlx::before, .header-JUTO-g::after, .header-JUTO-g::before {content:"";position:absolute;top:0;bottom:0;right:0;left:0;pointer-events:none;z-index:-1}
.titleContainer-3fPic2::before, .titleContainer-3fPic2::after {height:100px}

/* Plugins */
/* Member count */
.hasCounter #MemberCount {background:transparent}
