/* Default Variables */
:root {
	--chat-transparency:0.8;
	--sides-transparency:0.9;
	--sides-blur:5px;
	--color-primary:54,57,63;
	--color-secondary:47,49,54;
	--color-secondary-alt:41,43,47;
	--color-tertiary:32,34,37;
}

/* General */
body, .app-2rEoOp, .bg-h5JY_x {background:transparent}
.appMount-3lHmkl {background:var(--background) center/cover no-repeat}

/* Top bar */
.withFrame-haYltI {padding-top:4px;margin-top:0;background:rgba(var(--color-tertiary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}

/* Server list */
.wrapper-3NnKdC {background:transparent}
.scroller-1Bvpku {background:rgba(var(--color-tertiary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}

/* Channels and friends */
#app-mount .sidebar-2K8pFh {border-radius:0}
.sidebar-2K8pFh {background:transparent}
.sidebar-2K8pFh {backdrop-filter:blur(var(--sides-blur))}
.container-3w7J-x {background:rgba(var(--color-secondary),var(--sides-transparency))}

.scroller-1JbKMe {background:transparent}
.privateChannels-1nO12o {background:rgba(var(--color-secondary),var(--sides-transparency))}

.stageSection-3mAD8V {background: rgb(var(--color-primary), var(--chat-transparency))}

/* Nitro tab */
.applicationStore-1pNvnv {background: transparent}
.scroller-9moviB {background: rgb(var(--color-primary), var(--chat-transparency))}

/* Discovery */
.sidebar-2K8pFh > .scrollerBase-289Jih {background:rgba(var(--color-secondary),var(--sides-transparency))}
#app-mount .pageWrapper-1PgVDX {background:rgba(var(--color-primary),var(--chat-transparency))}

/* Member list */
.members-1998pB>div {background:transparent}
.members-1998pB {background:rgba(var(--color-secondary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}

/* User panel */
.panels-j1Uci_ {background:rgba(var(--color-secondary-alt),var(--sides-transparency))}

/* Chat */
.chat-3bRxxu, .threadSidebar-1o3BTy {background:transparent}
.chatContent-a9vAAp, .chat-1WUuAG {background:rgba(var(--color-primary),var(--chat-transparency))}
#app-mount .form-2fGMdU:before {display:none}
.wrapper-3vR61M, .wrapper-1F5TKx {background:transparent}
.content-1o0f9g {background:transparent;backdrop-filter:blur(5px)}

.chat-3bRxxu.threadSidebarOpen-vdkwIh {border-radius: 0}
.threadSidebar-1o3BTy {margin-left: 0;border-radius: 0}

.container-1n4bMv {background: transparent}
.container-2vijaa {background: rgb(var(--color-primary), var(--chat-transparency))}

/* Tool bar */
.container-1r6BKw.themed-ANHk51 {background:rgba(var(--color-primary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}
#app-mount .children-19S4PO:after {display:none}

/* Calls */
.wrapper-2qzCYF {background: transparent}

/* Stage channels */
.container-pTf0Ly, .callContainer-3UuV6S, .scroller-1SuHJo,
.container-2t1JyW, .rowContainer-2tYerQ, .participants-soO0aD,
.container-1EOCj2 {background: transparent}
.headerContainer-3Dbfbk {background: rgba(var(--color-primary),var(--sides-transparency));backdrop-filter: blur(var(--sides-blur))}
.container-1EOCj2>.contentContainer-3uyIT3 {background:rgba(var(--color-primary),var(--chat-transparency));backdrop-filter:blur(var(--sides-blur))}
.sidebarVisible-F3zEoe {margin-right: 0;border-radius: 0}
.scroller-1SuHJo::-webkit-scrollbar-track {display: none}
.scroller-1SuHJo::-webkit-scrollbar-thumb {background: var(--background-floating)}
.root-217Brm {background:rgba(0,0,0,var(--chat-transparency));backdrop-filter:blur(var(--sides-blur))}

/* Friends online */
#app-mount .container-1D34oG, .nowPlayingColumn-2sl4cE {background:transparent}
.peopleColumn-29fq28 {background:rgba(var(--color-primary),var(--chat-transparency))}
.container-lRFx4q {background:rgba(var(--color-primary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}

/* Settings */
.layer-3QrUeG, .standardSidebarView-3F1I7i, .contentRegionScroller-26nc1e {background:transparent}
.sidebarRegionScroller-3MXcoP {background:rgba(var(--color-secondary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}
.contentRegion-3nDuYy {background:rgba(var(--color-primary),var(--chat-transparency))}
.scroller-305q3I {background:transparent}
.titleContainer-2CXtJo::before, .stickyHeader-hH_ZLl::before, .header-2mZ9Ov::before {background:var(--background) center/cover fixed}
.titleContainer-2CXtJo::after, .stickyHeader-hH_ZLl::after, .header-2mZ9Ov::after {background:rgba(var(--color-primary),var(--chat-transparency))}
.titleContainer-2CXtJo::after, .titleContainer-2CXtJo::before, .stickyHeader-hH_ZLl::after, .stickyHeader-hH_ZLl::before, .header-2mZ9Ov::after, .header-2mZ9Ov::before {content:"";position:absolute;top:0;bottom:0;right:0;left:0;pointer-events:none;z-index:-1}

/* Plugins */
/* Member count */
.hasCounter #MemberCount {background:rgba(var(--color-secondary),var(--sides-transparency));backdrop-filter:blur(var(--sides-blur))}}
